* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Lato'; sans-serif;
  /*font-family: 'Roboto'; sans-serif;*/
}

/*LEFT _ TITLE - MENU BAR*/
.header {
  background-color: #4779A6;
  height: 3.2rem;
  margin: 0 .1rem;
}

.nav-header {
  padding: 1rem, 0;
  height: 3rem;
  float: left;
  display: inline-block;
  line-height: 3.7rem;
}

.nav-header figure {
  padding: .8rem 0 .8rem 1.2rem;
  display: inline-flex;
  color: white;
}

h1 {
  font-size: 1.8rem;
  font-weight: lighter;
  margin: 0 1rem;
  display: inline-block;
  color: white;
}

nav ul {
  display: inline;
}

nav li {
  margin: 0;
  padding: 0 .7rem;
  display: inline;
  font-size: 1.2rem;
}

.nav-header a {
  line-height: 1rem;
  color: white;
  text-decoration: none;

}

/*RIGHT _ INGRESAR - BROWSER*/
.global {
  float: right;
  padding: 0 .8rem;
  display: inline-block;
}

.nav-global {
  padding: 0;
  margin:  0;
  display: inline-block;
  height: 3.2rem;
}

.nav-global figure {
  padding: 0 0 0 1.3rem;
  display: inline-flex;
  vertical-align: middle;
}

.nav-global a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.hover__search {
  height: 3.18rem;
  width: 3.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  background-color: #C8C8C8;
  position: static;
}

.hover__search:hover {
  /*background-color: #80BCF2;*/
  background-color: #C8C8C8;
}
